.task-prev
  size(160px)
  background-color: rgba(255, 255, 255, .1)
  padding: 15px
  border-left: 2px solid transparent
  color white
  display: flex
  flex-direction: column;
  &.is
    &-completed
      border-left-color completed-task
    &-snoozed
      border-left-color snoozed-task
    &-overdue
      border-left-color overdue-task

  &__time
    &-icon
      size(20px)
      fill white
      opacity: .5
      margin-right: 10px
      margin-bottom: 20px

  &-peoples
    display: flex
    align-items: center
    margin-top: auto
    justify-content: flex-end
    & > *
      &:not(:last-child)
        margin-right: 10px

  &-people
    size(15px)
    border-radius 50%
    background-color: lightgray