.header.header--bg__transparent
    .header__left
        .header__btn
            +icon('left-arrow','header__btn-icon')
    .header__right
        .header__btn
            +icon('camera', 'header__btn-icon')
