// Шапка
@import 'header/header.styl'

// Футера
@import 'footer/footer.styl'

// Навигация
@import 'navigation/navigation.styl'

//Кнопки
@import "buttons/buttons.styl"

//Заголовки
@import "titles/titles.styl"

@import "small-blocks/small-blocks.styl"

@import "start-form/start-form.styl"

@import "forms/forms.styl"

@import "walkthrough/walkthrough.styl"