.btn
  align-items: center
  background-color: malibu
  border: 0
  color white
  cursor pointer
  display: flex
  font-size: 15px
  justify-content: center
  height: 55px
  &.btn
    &--transparent
      background-color: transparent
      opacity .5
