// ЦВЕТА
white = #ffffff
black = #000000
malibu = #8c88ff

completed-task = #62d7c8
snoozed-task = #ee8f6e
overdue-task = #ff3366


// РАЗМЕРЫ
baseFontSize = 16px
contentSize = 320px
desktopWide = 1440px
desktop = 1248px
tabletWide = 1024px
tablet = 768px
tabletSmall = 640px
phablet = 560px
phoneWide = 480px
phone = 400px

// ШРИФТЫ

