.form-group
  display: flex
  height: 40px
  align-items: center
  border-bottom: 1px solid rgba(white, .1)
  margin-bottom: 15px
  &:last-child
    margin-bottom: 0

  & > *
    margin-right: 15px
    &:last-child
      margin-right: 0

  &__icon
    .icon
      size(22px)
      fill white
      opacity: .5

  input
    +placeholder()
      color white

