.walkthrough
  padding-top: 180px
  height: 100%
  &__item
    size(220px)
    background-color: rgba(white, .5)
    margin: 0 auto
    &-content
      height: 100%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      position: relative
      z-index 1
    &.is
      &-active
        background-color: white
        box-shadow 0 0 15px 3px rgba(black, .5)
        size(250px)

  &__icon
    fill white
    size(50px)

    &-wrapper
      size(130px)
      display: flex
      align-items: center
      background-color: malibu
      border-radius 50%
      margin-bottom: 50px
      justify-content: center

