.footer-nav
  display: flex
  justify-content: space-between
  &__link
    size(50px)
    border-radius 50%
    display: flex
    justify-content: center
    align-items: center
    &.footer-nav__link--task
      background-color: malibu
      .footer-nav__icon
        opacity: 1

  &__icon
    size(20px)
    fill white
    opacity .5