
footer
    .footer
        ul.footer-nav
            +footerNavItem('', 'calendar')
            +footerNavItem('', 'pie-chart')
            +footerNavItem('', 'clipboard')
            +footerNavItem('', 'list')
            +footerNavItem('', 'passage-of-time')